html{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    background-color: #FFF8F3;
    color: #000;
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Yeseva One', cursive;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin:0 0  0 0;
}

header{
    background-color: #7B6152;
}

ul{
    list-style-type: none;
}


.container{
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.menu__btn{
    display: none;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span{
    height: 1px;
    background-color: #FAFAFA;
    width: 100%;
}

.header__inner{
    padding-top: 4px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 30px;
}

.logo__inner{
    align-items: center ;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #FAFAFA;
}

a{
    text-decoration: none;
    color:#000;
}

.a{
    text-decoration: none;
    color: #FAFAFA;
}

.menu__list-link{
    text-transform: uppercase;
}

.catalog{
    margin: 100px;
    padding: 0 20px 0 0;
}

.cont-top{
    display: flex;
    justify-content: space-between;
}

.cont-bottom{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}


.block{
    width: 180px;
    height: 180px;
    margin: 50px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px #000;
}

.block-perv{
    width: 180px;
    height: 180px;
    margin: 50px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px #000;
}

.block-s{
    width: 180px;
    height: 180px;
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px #000;
    display: none;
}

.block-glav{
    width: 220px;
    height: 220px;
    margin: 30px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px #000;
}

.block-glav-s{
    width: 220px;
    height: 220px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 1px #000;
    display: none;
}

.info-box{
    text-align: center;
    font-weight: normal;
    padding: 10px;
    margin: 25px 0 25px 0;
}

.info-box:hover{
    color:red;
}

.transition {
    transition: 0.3s;
  }

.main-block{
    text-align: center;
    font-weight: normal;
    padding: 10px;
    margin: 50px 0 50px 0;
}

.main-block-s{
    text-align: center;
    font-weight: normal;
    padding: 10px;
    margin: 50px 0 50px 0;
}

footer{
    background-color: #7B6152;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}




@media(max-width:1000px){
    .container{
        padding-left: 12px;
        padding-right: 12px;
    }

    .header__inner{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(max-width:768px){
    .container{
        padding-left: 64px;
        padding-right: 64px;
    }

    .block-perv{
        display: none;
    }

    .block-glav{
        display: none;
    }

    .block-glav-s{
        display: inline-block;
    }

    .main-block-s{
        display: block;
    }

    .block-s{
        display: inline-block;
    }

    .cont-top{
        display: grid;
        justify-content: center;
    }
    .cont-bottom{
        display: grid;
        justify-content: center;
    }

    .catalog{
        margin: 0 100px 0 100px;
        display: grid;
        justify-content: center;
    }

    .cont-bottom{
        margin-top: 0;
    }
}

@media(max-width:500px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    
    .header__menu-list{
        width: 153px;
        background-color: #7B6152;
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        position: absolute;
        right: 0;
        top: 40px;
        transform: translateY(-150%);
        transition: transform .5s ease;
    }
    
    .header__menu-list.menu-open{
        top:40px;
        transform: translateY(0%);
    }
    .menu__btn{
        display: flex;
        margin-right: 12px;
    }

    .block-perv{
        display: none;
    }

    .block-glav{
        display: none;
    }

    .block-glav-s{
        display: inline-block;
    }

    .main-block-s{
        display: block;
    }

    .block-s{
        display: inline-block;
    }

    .cont-top{
        display: grid;
    }
    .cont-bottom{
        display: grid;
    }

    .catalog{
        margin: 0 100px 0 100px;
    }

    .cont-bottom{
        margin-top: 0;
        margin-left: 10px;
    }
}

@media(max-width: 320px){
    .header__inner{
        font-size: 13px;
    }
}